/* Estilos para el cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Estilos para el encabezado */
h1 {
  background-color: rosybrown;
  color: #fff;
  margin: 0;
  padding: 1em;
  text-align: center;
}

/* Estilos para la cabecera*/
h2{
  text-align: center;
}

/* Estilos para las listas*/
ul{
  background-color: darkgrey;
}

/* Estilos para los contenedores */
div {
  margin: 1em;
}

/* Estilos para el botón */
button {
  background-color: rosybrown;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 4px;
  
}

/* Estilos para las líneas horizontales */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em;
}

/* Estilos para las etiquetas de estado */
p {
  font-weight: bold;
}

/* Estilos para los valores de estado */
span {
  font-weight: normal;
}
